apiVersion: apps/v1
kind: Deployment
metadata:
  name: devcalc-deployment
  namespace: tp2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devcalc
  template:
    metadata:
      labels:
        app: devcalc
    spec:
      containers:
        - name: devcalc
          image: shyuu7/devcalc-api:latest
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3