apiVersion: v1
kind: Pod
metadata:
  name: nginx-busy-pod
  namespace: tp2
  labels:
    app: nginx-busybox
spec:
  containers:
    - name: nginx
      image: nginx:1.29.3-alpine-slim
      ports:
        - containerPort: 80
    - name: busybox
      image: busybox
      env:
        - name: USER
          value: "root"
        - name: PASSWORD
          value: "123456"
      command: ["/bin/sh"]
      args:
        - -c
        - |
          while true; do
            echo "$(date): USER=$USER"
            wget -qO- http://localhost:80 || echo "Erro ao conectar ao Nginx"
            sleep 10
          done