name: maven-ci.yml
on:
  push:
    branches:
      - main
env:
  ACTIONS_STEP_DEBUG: true
  ACTIONS_RUNNER_DEBUG: true

jobs:
  maven-build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Set up JDK 21
          uses: actions/setup-java@v5
          with:
            java-version: '21'
            distribution: 'temurin'
        - name: Build with Maven
          run:  mvn clean install -DskipTests
        - name: Debug - Exibir informações detalhadas
          run: |
            echo "::debug::Listando arquivos no diretório atual"
            ls -la
            echo "::debug::Exibindo informações do Maven"
            mvn --version
            echo "::debug::Verificando variáveis de ambiente Java"
            echo "JAVA_HOME: $JAVA_HOME"
            echo "PATH: $PATH"