name: tests.yml
on:
    pull_request:
jobs:
    run-tests:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Run tests
          run: echo "Rodando testes"